PORT=3000 // mantener en 3000 para docker-compose
DB_HOST=localhost
DB_PORT=511
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Admin

JWT_SECRET=cambia_este_secreto_muy_largo_y_seguro
JWT_EXPIRES_IN=1h
NODE_ENV=development