# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación o temporales
dist/
build/

# Coverage (testing)
coverage/

# Archivos de IDE
.vscode/
.idea/

# Dumps de base de datos (backups locales)
*.dump
*.sql.bak